@model IEnumerable<UtilantProject.Models.ViewModels.PostsViewModel>

@{
    ViewData["Title"] = "UserPosts";
}

<h2>Posts for UserName @Html.DisplayFor(model => model.FirstOrDefault().UserName)</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="GetAlbumsList" asp-controller="Album" asp-area="">Return to Album List</a>
</div>
